span {
  cursor: pointer;
}

.active {
  color: #BB001B;
}

h1 {
  font-style: italic;
  margin: 10px 0 16px;
}

.toolbar-right-links {
  position: absolute;
  display: flex;
  right: 25px;
  gap: 15px;
}

.logo-img {
  border-radius: 10%;
  height: 50px;
  display: block;
  margin: auto;

  &.github{
    height: 38px;
  }
}


.my-prenom {
  margin-left: 2%;
}

/* Styles for the Language Switcher Component */

.language-switcher {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 8px;
}

.language-switcher img {
  width: 26px; /* Adjust the size as needed */
  height: 26px;
  transition: transform 0.5s ease;
}

.language-switcher .arrow {
  font-size: 10px;
  transition: transform 0.5s ease;
}

/* Make the flag and arrow rotate on click */
.language-switcher.active img {
  transform: rotate(180deg);
}

.language-switcher.active .arrow {
  transform: rotate(180deg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-right-links {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;

  span {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: fit-content;
    text-align: right;
  }

  .links span {
    padding: 1rem;
  }

  .hamburger {
    display: block;
  }
}


