
<mat-toolbar color="primary-color">
  <span routerLink="home">
    <img class="logo-img" src="assets/images/pm-logo.png" alt="logo">
  </span>
  <span routerLink="home" class="my-prenom hidden-mobile"><h1>Paul Mantello Consulting</h1></span>
  <div class="toolbar-right-links">

    <span routerLink="a-propos" [routerLinkActive]="'active'">{{ 'navigation.about' | translate }}</span>
    <span routerLink="contact" [routerLinkActive]="'active'">{{ 'navigation.contact' | translate }}</span>
    <div class="language-switcher" (click)="toggleLanguage()">
      <img
        [src]="flagUrl"
        alt="Flag"
        [@flagAnimation]="'active'"
      />
      <span class="arrow" [class.active]="isLanguageMenuOpen">&#9660;</span>
    </div>
  </div>


</mat-toolbar>
