span {
  cursor: pointer;
}

.active {
  color: #BB001B;
}

h1 {
  font-style: italic;
  margin: 10px 0 16px;
}

.toolbar-right-links {
  position: absolute;
  display: flex;
  right: 25px;
  gap: 15px;
}

.logo-img {
  border-radius: 10%;
  height: 50px;
  display: block;
  margin: auto;
}


.my-prenom {
  margin-left: 2%;
}

/* Styles for the Language Switcher Component */

.language-switcher {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 8px;
}

.language-switcher img {
  width: 26px; /* Adjust the size as needed */
  height: 26px;
  transition: transform 0.5s ease;
}

.language-switcher .arrow {
  font-size: 10px;
  transition: transform 0.5s ease;
}

/* Make the flag and arrow rotate on click */
.language-switcher.active img {
  transform: rotate(180deg);
}

.language-switcher.active .arrow {
  transform: rotate(180deg);
}

