img {
  height: 20px;
  width: auto;
  margin: auto;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 12px;
}

.left-text {
  display: flex;
  flex-direction: row;
  gap:6px;
}

.siret--container {
  font-size: 10px;
  line-height: 0px;
}

.year--container {
  top: -6px;
  position: relative;
}
