.contact-cards--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 28px;
}

.contact--container {
  background-image:url('../../../assets/images/stacked-waves-bg.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px;
}

h1{
  width: 6rem;
  font-weight: bold;
  margin: auto;
  padding: 10px;
}
p {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

app-contact-card, a {
  max-height: 4rem;
  border-radius: 1rem;

  .blue:hover {
    border: #3d5a80 1px solid;
  }

  .red:hover {
    border: 1px solid #EE6C4D;
  }
}

.target--container {
  max-width: 100%;
  width: 20rem;
  margin: auto;
  padding-top: 5rem;
}
