<div class="contact--container">
  <h1>Contact</h1>

  <p>Vous souhaitez de plus amples informations sur mes compétences, mes tarifs ou mes services ?
    N'hésitez plus et contactez moi: </p>

  <div class="contact-cards--container">
    <a href="mailto:paulmantello@gmail.com?subject=Prise de contact" target="_blank">
      <app-contact-card link="www.google.com"
                      logo="/assets/images/mail-icon.png"
                         text="Par E-mail"></app-contact-card></a>
    <app-contact-card link="https://www.linkedin.com/in/paul-m-97507b262/"
                      logo="/assets/images/linkedin-icon.svg"
                      text="Par Linkedin"></app-contact-card>
  </div>
</div>
