.contact-cards--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 28px;
}

@media (max-width: 500px) {
  .contact-cards--container {
    flex-direction: column;
    gap: 80px;
  }
}

.contact-text {
  font-size: 16px;
}

.contact--container {
  background: rgb(135,182,207);
  background: linear-gradient(146deg, rgba(135,182,207,1) 7%, rgba(255,255,255,1) 100%);
  padding: 8px;
  text-align: justify;
}

h1{
  width: 6rem;
  font-weight: bold;
  margin: auto;
  padding: 10px;
}
p {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

app-contact-card, a {
  max-height: 4rem;
  border-radius: 1rem;

  .blue:hover {
    border: #3d5a80 1px solid;
  }

  .red:hover {
    border: 1px solid #EE6C4D;
  }
}

.target--container {
  max-width: 100%;
  width: 20rem;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
