.contact-cards--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 28px;
}

@media (max-width: 500px) {
  .contact-cards--container {
    flex-direction: column;
    gap: 80px;
  }
}

.contact-text {
  font-size: 16px;
}

.contact--container {
  height: 100%;
  overflow-y: scroll;
  background: rgb(135,182,207);
  background: linear-gradient(146deg, rgba(135,182,207,1) 7%, rgba(255,255,255,1) 100%);
  padding: 8px;
  text-align: justify;
}

h1{
  width: 6rem;
  font-weight: bold;
  margin: auto;
  padding: 10px;
}
p {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

app-contact-card, a {
  max-height: 4rem;
  border-radius: 1rem;

  .blue:hover {
    border: #3d5a80 1px solid;
  }

  .red:hover {
    border: 1px solid #EE6C4D;
  }
}

.target--container {
  max-width: 100%;
  width: 20rem;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.card {
  width: 13rem;
  height: 8rem;
  background: #f5f5f5;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  transition: box-shadow .3s ease, transform .2s ease;
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
}

img {
  border-radius: 50%;
}

/*Image*/
.card-avatar {
  --size: 60px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}


/*Text*/
.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.red:hover {
  background: rgb(204,19,45);
  background: linear-gradient(90deg, rgba(204,19,45,1) 0%, rgba(255,225,225,1) 100%);
}

.blue:hover {
  background: rgb(0,114,177);
  background: linear-gradient(90deg, rgba(0,114,177,1) 0%, rgba(199,230,247,1) 100%);
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card-avatar:hover {
  transform: scale(1.1);
}

