<div class="contact--container">
  <h1>Contact</h1>

  <p>Vous avez un projet de développement à réaliser, besoin d'encadrer d'équipe par un expert ou une autre demande
    concernant mes prestations, contactez-moi dès à présent.
    Je serais ravi de mettre mes compétences et mon expérience à votre service.</p>
  <p class="contact-text"><strong>Prenez contact :</strong></p>

  <div class="contact-cards--container">
    <a href="mailto:paulmantello@gmail.com?subject=Prise de contact" target="_blank">
      <app-contact-card link="www.google.com"
                      logo="/assets/images/mail-icon.png"
                         text="Par E-mail"></app-contact-card></a>
    <app-contact-card link="https://www.linkedin.com/in/paul-m-97507b262/"
                      logo="/assets/images/linkedin-icon.svg"
                      text="Par Linkedin"></app-contact-card>

  </div>
  <br/>
  <div class="target--container">
    <img alt="Image d'une cible atteinte" ngSrc="assets/images/target2.png" width="409" height="250">
  </div>
</div>
<app-footer></app-footer>
