<h2>Mes Compétences</h2>

<div class="skills--container">
  <div class="tech-skills">
    <h3>Langages et Framework</h3>
    <img class="tech-skill-image"
         loading="lazy" decoding="async"
         src="/assets/images/tech-skill-list.png" alt="Mes compétences techniques">

  </div>
  <div class="tool-skills">
    <h3>Logiciels et Outils</h3>
    <ul>
      <li>MaterialUI, Angular Material, Bootstrap</li>
      <li>Gitlab, Github, BitBucket</li>
      <li>Jenkins, Gitlab CI/CD</li>
      <li>Ionic Cordova</li>
      <li>Cypress, Protractor</li>
      <li>Camunda, Zeebe</li>
      <li>Jira, Confluence, Monday</li>
      <li>VS Code, PHPStorm, Eclipse</li>
      <li>Docker, Rancher, Kubernetes</li>
      <li>PHPCS, SonarQube</li>
      <li>Suite Office</li>
      <li>Adobe Premiere & After Effect</li>


    </ul>

  </div>

</div>
