.skills--container {
  display: flex;
  justify-content: space-around;
  gap:20px;
  background: #2596be;
  margin: 16px;
  border-radius: 10px;
  color: white;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
}

h2 {
  font-size: 1.8rem;
  width: 33%;
  padding-bottom: 24px;
  padding-top: 24px;
}

ul {
  list-style-type: disc;
}



.tech-skill-image {
  width: 14rem;
  border-radius: 8px;
  margin-bottom: 16px;
}
