<h2>{{ 'skillsHeader' | translate }}</h2>

<div class="skills--container">
  <div class="tech-skills">
    <h3>{{ 'techSkillsTitle' | translate }}</h3>
    <img
      class="tech-skill-image"
      loading="lazy"
      decoding="async"
      src="/assets/images/tech-skill-list.png"
      alt="My Technical Skills"
    />
  </div>
  <div class="tool-skills">
    <h3>{{ 'toolSkillsTitle' | translate }}</h3>
    <ul>
      <li>MaterialUI, Angular Material, Bootstrap</li>
      <li>Leaflet Map, Drawflow, WebSocket, Event Bus</li>
      <li>Vercel, Netlify, GCP, Parse</li>
      <li>Gitlab, Github, BitBucket</li>
      <li>Docker, Docker Compose, Rancher, Kubernetes</li>
      <li>Jenkins, Gitlab CI/CD, Github Actions</li>
      <li>Ionic Cordova</li>
      <li>Cypress, Protractor</li>
      <li>Jira, Confluence, Trello, Monday</li>
      <li>VS Code, PHPStorm, Eclipse</li>
      <li>PHPCS, SonarQube</li>
    </ul>
  </div>
</div>
