@use '@angular/material' as mat;
@import '~@angular/material/theming';

$primary-color: mat.define-palette(#3d5a80);
$secondary-color:  mat.define-palette(#98c1d9);
$soft-color:  mat.define-palette(#E0FBFC);
$accent-color:  mat.define-palette(#EE6C4D);
$dark-color:  mat.define-palette(#293241);

$my-custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    secondary: $secondary-color,
    soft: $soft-color,
    accent: $accent-color,
    dark: $dark-color
  )
));

@include mat.core-theme($my-custom-theme);
@include mat.button-theme($my-custom-theme);

