<h2>{{ 'aboutMeFormations.title' | translate }}</h2>

<ul>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.certificationTypescript' | translate }}</p>
        <p>{{ 'aboutMeFormations.certificationDate' | translate }} ({{ 'aboutMeFormations.online' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.certificationAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/certification-codingame.png"
        />
        <img
          alt="{{ 'aboutMeFormations.withHonorsAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/with-honor.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.reactTypeScript' | translate }}</p>
        <p>{{ 'aboutMeFormations.reactTypeScriptDate' | translate }} ({{ 'aboutMeFormations.conferenceFormat' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.reactLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/react-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.tsLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/ts-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.protractorTestsE2E' | translate }}</p>
        <p>{{ 'aboutMeFormations.protractorTestsE2EDate' | translate }} ({{ 'aboutMeFormations.udemyOnlineFormat' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.cypressLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/cypress-logo%20.png"
        />
        <img
          alt="{{ 'aboutMeFormations.protractorLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/protractor-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.angularAdvanced' | translate }}</p>
        <p>{{ 'aboutMeFormations.angularAdvancedDate' | translate }} ({{ 'aboutMeFormations.udemyOnlineFormat' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.angularLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/angular-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.typescriptLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/ts-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.symfony3' | translate }}</p>
        <p>{{ 'aboutMeFormations.symfony3Date' | translate }} ({{ 'aboutMeFormations.individualWithExpert' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.symfonyLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/symfony-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.phpLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.laravel' | translate }}</p>
        <p>{{ 'aboutMeFormations.laravelDate' | translate }} ({{ 'aboutMeFormations.individualWithExpert' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.laravelLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/laravel-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.phpLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.symfony2' | translate }}</p>
        <p>{{ 'aboutMeFormations.symfony2Date' | translate }} ({{ 'aboutMeFormations.individualWithExpert' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.symfonyLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/symfony-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.phpLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.cSharpDotNet' | translate }}</p>
        <p>{{ 'aboutMeFormations.cSharpDotNetDate' | translate }} ({{ 'aboutMeFormations.online' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.cSharpLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/c-sharp-logo.png"
        />
        <img
          alt="{{ 'aboutMeFormations.dotNetLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/dotnetcore-logo.png"
        />
      </div>
    </div>
  </li>

  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>{{ 'aboutMeFormations.englishTOEIC' | translate }}</p>
        <p>({{ 'aboutMeFormations.englishTOEICScore' | translate }})</p>
      </div>
      <div class="logo--container">
        <img
          alt="{{ 'aboutMeFormations.ukFlagAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/uk-flag.webp"
        />
        <img
          alt="{{ 'aboutMeFormations.toeicLogoAlt' | translate }}"
          decoding="async"
          loading="lazy"
          src="assets/images/toeic-logo.png"
        />
      </div>
    </div>
  </li>

</ul>
