<h2>Mes Formations</h2>

<ul>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Certification Typescript Codingame</p>
        <p>01/2023 (en ligne)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Certifications Typescript"
          decoding="async"
          loading="lazy"
          src="assets/images/certification-codingame.png"
        />
        <img
          alt="Certifié avec les honneurs"
          decoding="async"
          loading="lazy"
          src="assets/images/with-honor.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation React En Typescript</p>
        <p>12/2022 (format conférence)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo React"
          decoding="async"
          loading="lazy"
          src="assets/images/react-logo.png"
        />
        <img
          alt="Logo Typescript"
          decoding="async"
          loading="lazy"
          src="assets/images/ts-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Protractor & Tests E2E</p>
        <p>03/2020 (Udemy, en ligne)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo Cypress"
          decoding="async"
          loading="lazy"
          src="assets/images/cypress-logo%20.png"
        />
        <img
          alt="Logo Protractor"
          decoding="async"
          loading="lazy"
          src="assets/images/protractor-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation Angular & Angular avancé</p>
        <p>04/2019 (Udemy, en ligne)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo Angular"
          decoding="async"
          loading="lazy"
          src="assets/images/angular-logo.png"
        />
        <img
          alt="Logo Typescript"
          decoding="async"
          loading="lazy"
          src="assets/images/ts-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation Symfony 3</p>
        <p>09/2016 (individuelle avec un expert)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo Symfony"
          decoding="async"
          loading="lazy"
          src="assets/images/symfony-logo.png"
        />
        <img
          alt="Logo PHP"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation Laravel</p>
        <p>09/2015 (individuelle avec un expert)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo Laravel"
          decoding="async"
          loading="lazy"
          src="assets/images/laravel-logo.png"
        />
        <img
          alt="Logo PHP"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation Symfony 2</p>
        <p>04/2015 (individuelle avec un expert)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo Symfony"
          decoding="async"
          loading="lazy"
          src="assets/images/symfony-logo.png"
        />
        <img
          alt="Logo PHP"
          decoding="async"
          loading="lazy"
          src="assets/images/php-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Formation C# et .net</p>
        <p>10/2014 (en ligne)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Logo C#"
          decoding="async"
          loading="lazy"
          src="assets/images/c-sharp-logo.png"
        />
        <img
          alt="Logo .Net Core"
          decoding="async"
          loading="lazy"
          src="assets/images/dotnetcore-logo.png"
        />
      </div>
    </div>
  </li>
  <li>
    <div class="item--container">
      <div class="text-detail-container">
        <p>Anglais : TOEIC d'or</p>
        <p>(score de 965/990)</p>
      </div>
      <div class="logo--container">
        <img
          alt="Drapeau anglais"
          decoding="async"
          loading="lazy"
          src="assets/images/uk-flag.webp"
        />
        <img
          alt="Logo TOEIC"
          decoding="async"
          loading="lazy"
          src="assets/images/toeic-logo.png"
        />
      </div>
    </div>
  </li>
</ul>
