<div class="presentation--container">
  <h1>À Propos de moi</h1>

  <strong>Bonjour ! 👋</strong>
  <p></p>
  <p>Je suis Paul Mantello, ingénieur de formation et développeur de métier depuis bientôt 10 ans.</p>
  <p>Après obtention de mon diplôme j’ai travaillé pendant 8 ans chez différentes entreprises majeures de la région
    PACA. J’ai commencé par du développement en C++ et Java avant de rapidement me spécialiser dans le Web, en
    commençant par du PHP jusqu’à devenir Référent Technique sur Angular et Node.js au sein de Naval Group puis de La
    Boîte Immo.</p>
  <p>Ces expériences m'ont permis d'acquérir une véritable expertise dans le développement Web, notamment sur le
    Typescript. Je possède d'ailleurs le certificat TypeScript délivré par le site Codingame, avec les honneurs.</p>
  <p>Je suis passionné par ce domaine, et je cherche à progresser chaque jour en surveillant constamment les nouveautés
    dans ce monde qui ne cesse d'évoluer.</p>
  <p>Concernant mon temps libre il y a plusieurs choses que j'adore :</p>
  <p>Profiter et partager des bons moments avec ma famille et mes amis, autour d'un bon repas 🥘 ou d'un super jeu de
    société 🃏 (ou d'un jeu vidéo 🎮)</p>
  <p>J'aime aussi le sport : la course à pied 🏃, le vélo 🚴, la musculation 🏋</p>
  <p>J'apprécie également passer du temps devant un bon film ou série 🎥</p>
</div>
