<div class="background--container">
  <div class="presentation--container">
    <h1>À Propos de moi</h1>

    <strong>Bonjour 👋</strong>
    <p></p>
    <p>Je suis Paul Mantello, ingénieur indépendant et développeur de logiciels depuis bientôt 10 ans.</p>
    <p>J’ai travaillé pour différentes entreprises majeures de la région
      PACA. J’ai commencé par du développement en C++ et en Java. Je me suis rapidement spécialisé dans le Web,
      en débutant par du PHP.
      <br/>Par la suite, je suis devenu Référent Technique sur Angular et Node.js au sein des
      entreprises Naval Group et La Boîte Immo. Ces expériences m'ont permis d'acquérir une véritable expertise dans le
      développement Web, notamment en
      Javascript/Typescript.</p>
    <p>Je suis passionné par l'informatique et je cherche toujours à progresser en surveillant les
      nouveautés dans cet environnement en constante évolution. Je travaille en respectant les bests practices
      et en suivant l'état de l'art actuel (DDD, CQRS, Hexagonal Architecture, SOLID...).</p>
    <p>Je suis quelqu'un de calme, réfléchi et bienveillant. J'apprécie travailler en équipe et j'ai toujours aimé
      partager et transmettre mes connaissances. Tout d'abord dans le sport en tant qu'entraîneur
      cycliste diplômé d'état, puis dans les mathématiques en tant que professeur particulier et enfin dans
      l'informatique
      dans le cadre de mon travail.</p>
    <p>Concernant mon temps libre j'aime profiter et partager des bons moments avec ma famille et mes amis, autour d'un
      bon repas 🥘, d'un super jeu de  xsociété 🃏 ou d'un jeu vidéo 🎮 par exemple.</p>
    <p>J'aime me ressourcer et profiter de la nature, randonner 🥾. J'apprécie aussi le sport : la course à pied 🏃,
      le vélo 🚴, la musculation 🏋.</p>
    <p>Je prends également plaisir à passer du temps devant un bon film ou série 🎥.</p>
    <p>Pour conclure, je mets mes compétences et mon expertise à votre service, pour vous permettre de réaliser vos
      différents projets. Pour en savoir plus sur mes prestations, prenez contact.</p>

    <div class="contact--container">
      <a href="./assets/files/CV%20Mantello%20Paul%20FR.pdf" target="_blank">Télécharger mon CV</a>
      <app-contact-button></app-contact-button>
    </div>

  </div>
</div>
<app-footer></app-footer>
