<div class="background--container">
  <div class="presentation--container">
    <h1>{{ 'aboutMe.title' | translate }}</h1>
    <br />
    <p>
      <strong>{{ 'aboutMe.greeting' | translate }}</strong>
    </p>
    <p>{{ 'aboutMe.introduction' | translate }}</p>
    <p>{{ 'aboutMe.workExperience' | translate }}</p>
    <p>{{ 'aboutMe.expertise' | translate }}</p>
    <p>{{ 'aboutMe.passion' | translate }}</p>
    <p>{{ 'aboutMe.interests' | translate }}</p>
    <p>{{ 'aboutMe.freeTime' | translate }}</p>
    <p>{{ 'aboutMe.hobbies' | translate }}</p>
    <p>{{ 'aboutMe.leisure' | translate }}</p>
    <p>{{ 'aboutMe.services' | translate }}</p>

    <div class="contact--container">
      <app-download-button></app-download-button>
      <app-contact-button></app-contact-button>
    </div>
    <br />

  </div>
</div>
<app-scroll-to-top-arrow></app-scroll-to-top-arrow>
<app-footer></app-footer>
