<ng-container
  *ngIf="isLoading; then loader; else websiteContent"
></ng-container>

<ng-template #loader>
  <app-matrix-effect></app-matrix-effect>
</ng-template>
<ng-template #websiteContent>
  <div class="website--container mat-elevation-z8">
    <div [@slideInOut]="displaySite">
      <div class="full-presentation--container">
        <div class="picture-and-logo--container">
          <img
            alt="Portait de Paul Mantello"
            class="paul-img"
            src="assets/images/Paul.jpg"
          />
          <app-auto-scrolling-text
            [text]="statusText"
          ></app-auto-scrolling-text>
        </div>
        <div class="quick-presentation--container">
          <br /><br />
          <p>Freelance Lead Developer FullStack</p>
          <p>Typescript | Angular | Node.js | PHP</p>
          <p>8+ années d'expériences</p>
          <p>🎯 Toulon et partout ailleurs en remote</p>
          <div class="certif--container">
            <img
              alt="Angular logo"
              class="certif-img"
              src="assets/images/angular-logo.png"
            />
            <img
              alt="typescript logo"
              class="certif-img"
              src="assets/images/ts-logo.png"
            />
            <img
              alt="Nodejs logo"
              class="certif-img"
              src="assets/images/nodejs-logo.png"
            />
            <img
              alt="PHP logo"
              class="certif-img"
              src="assets/images/php-logo.png"
            />
            <img
              alt="Symfony logo"
              class="certif-img"
              src="assets/images/symfony-logo.png"
            />
          </div>
        </div>

        <div class="contact-button--container">
          <h3>En quoi puis-je vous aider ?</h3>
          <app-changing-text></app-changing-text>
          <p></p>
          <app-contact-button></app-contact-button>
        </div>
      </div>

      <section>
        <h2>Mes Expériences</h2>
        <h4 class="hidden-desktop">
          Cliquez sur une carte pour plus de détails
        </h4>
        <div class="cards--container">
          <app-flipping-card
            *ngFor="let experience of experiences"
            [experience]="experience"
          >
          </app-flipping-card>
        </div>
      </section>
      <section>
        <app-skills-section></app-skills-section>
      </section>
      <section>
        <app-formations-section></app-formations-section>
      </section>
      <section>
        <app-redirect-to-contact></app-redirect-to-contact>
      </section>
      <section>
        <img
          class="logo-img"
          loading="lazy"
          decoding="async"
          src="assets/images/pm-logo.png"
          alt="logo"
        />
      </section>
    </div>
  </div>
  <app-scroll-to-top-arrow></app-scroll-to-top-arrow>
  <app-footer></app-footer>
</ng-template>
