<ng-container *ngIf="isLoading; then loader else websiteContent"></ng-container>

<ng-template #loader>
  <app-matrix-effect></app-matrix-effect>
</ng-template>
<ng-template #websiteContent>
  <div [@slideInOut]="displaySite">
  <div class="full-presentation--container">
    <div class="picture-and-logo--container">
      <img alt="Portait de Paul Mantello" class="paul-img" src="assets/images/Paul.jpg">
    </div>
    <div class="quick-presentation--container">
      <br/><br/>
      <p>Ingénieur Développeur Indépendant</p>
      <p>Lead Developer FullStack</p>
      <p>Angular | Node.js | PHP</p>
      <p>8+ années d'expériences</p>
      <div class="certif--container">
        <img alt="typescript logo" class="certif-img" src="assets/images/ts-logo.png">
        <img alt="Certification CodinGame" class="certif-img" src="assets/images/certification-codingame.png">
        <img alt="Score de 100% lors de la certification" class="certif-img" src="assets/images/with-honor.png">
      </div>
    </div>

    <div class="contact-button--container">
      <h3>En quoi puis-je vous aider ?</h3>
      <app-changing-text></app-changing-text>
      <p></p>
      <app-contact-button></app-contact-button>
    </div>
  </div>

  <section>
    <h2>Mes Expériences</h2>
    <div class="cards--container">
      <app-flipping-card *ngFor="let experience of experiences" [experience]="experience">
      </app-flipping-card>
    </div>
  </section>
  <section>
    <app-skills-section></app-skills-section>
  </section>
  <section>
    <app-formations-section></app-formations-section>
  </section>
  </div>
</ng-template>
